<p id="notice"><%= notice %></p>

<h1>Listing Group Events</h1>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Location</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Duration</th>
      <th>State</th>
      <th colspan="3"> Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @group_events.each do |group_event| %>
      <tr>
        <td><%= group_event.name %></td>
        <td><%= group_event.description&.html_safe %></td>
        <td><%= group_event.location %></td>
        <td><%= group_event.start_date %></td>
        <td><%= group_event.end_date %></td>
        <td><%= duration(group_event) %></td>

        <td><%= group_event.state %></td>
        <td><%= link_to 'Show', group_event %></td>
        <td ><%= link_to 'Edit', edit_group_event_path(group_event) %></td>
        <td><%= link_to 'Destroy', group_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group event', new_group_event_path %>
